//
//    Created by Ari Pace.
//    This file holds CSS that creates the variables that will be used across the site.
//    Components should import this file in the style tag, and use them to style elements.
//

//Colors
$lime: #edfa17;
$gray: #666666;
$white: #fff;
$smoke-white: #f5f5f5;
$light-gray: #d4d4d5;
$dark-gray: #292B2C;
$black: #000;
$blue: #007bff;
$orange: #f34236;

//Fonts
$font-xs: 10px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 18px;
$font-xl: 22px;
$font-xxl: 28px;

